body #navegacion ul li
{
display: inline-block;
padding: 10px;
}

body #navegacion ul
{
    padding-left: 40%;
    margin-top: 0px;
    background-color: black;
    font-family: "Font-Navegacion";
}

body #navegacion ul li a
{
    color: rgb(238, 244, 24);
}

@font-face{
    font-family: "Font-Navegacion";
    src: url(../FONTS/Roboto-Regular.ttf);
}